.potencial.tab__main {
    border: solid var(--potencial-primary);
    border-width: 0px 2px 2px 2px;
    overflow: hidden;
    padding: 0px;

    .accordion-header{
        background-color: var(--potencial-primary);
    }
}
