.mainSidebar {
    position: absolute;
    z-index: 100;
    width: 100%;
    max-width: 340px;

    .chakra-tabs__tablist {
        display: flex;
        justify-content: space-around;
    }

    .chakra-tabs__tab {
        flex: 1;
        text-align: center;
        border-radius: 0;
        padding: 1rem;
        background-color: rgb(255, 255, 255); /* Color sólido */
        transition: background-color 0.3s;
        color: white;
        transition: none;


    }

    .tab-visor {
        background-color: var(--visor-light);
    }

    .tab-accesibilidad {
        background-color: var(--accesibilidad-unactive);

    }

    .tab-potencial {
        background-color: var(--potencial-light);
    }

    .chakra-tabs__tabpanel {
        padding: 1rem;
        height: calc(100% - 3rem); /* ajusta la altura según el tamaño de las pestañas */
        overflow-y: auto;
    }
}

.visor{
    &__icon {
        &--active {
            color:  #6b7f14 !important;
        }
    }
}

.tab__main {
    background-color: rgb(255, 255, 255);
    margin-top: -1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 21.23rem;
    margin-left: -1rem;
    padding-bottom: 1rem;


    .accordion{
        &-header{
            color: white;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .accordion-body{
        max-height: 75vh;
        padding: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .stat-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &.header {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 10;

            p {
                font-weight: bold;
                font-size: 14px;
                justify-content: center;
            }
        }

        .title-box {
            height: 36px;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 36px;
            z-index: 1;
            overflow: hidden;
        }

        .stat-title-box {
            height: 36px;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 36px;
            z-index: 1;
            overflow: hidden;
            border-radius: 5px;
            &.active {
                // background-color: #cceffb;
                background-color: var(--primary);
                // background-color: #2f4e92;
            }

            &.regular {
                &:not(.active) {
                    border: 1px solid #c3cff0;
                    &:hover {
                        box-shadow: 0 6px 6px rgba(69, 69, 69, 0.4) !important;
                        background-color: rgb(236, 239, 249) !important;
                        border: 0px;
                    }
                }
            }
        }

        .stat-title {
            font-size: 0.8rem; /* Ajustar el tamaño de las letras */
            text-align: left;
            display: flex;
            padding: 0 0.5rem;
            line-height: 1.2;
            height: 100%;
            align-items: center;
            width: 100%;

            &.dark {
                background: rgb(199, 199, 199);
            }
        }

        .stat-value {
            width: 100%;
            display: flex;
            font-size: 18px;
            font-weight: bold;

            &.full {
                > div {
                    width: 100%;
                }
            }

            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0;
                width: 50%;

                &.dark {
                    background-color:  rgb(223, 223, 223);
                    border-radius: 8px;
                    margin: 8px 0px;
                }
            }

        }

        .stat-value > p {
            display: flex;
            align-items: center;
        }
    }
    .checkbox-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.3rem;
        border-radius: 5px;
    }

    .checkbox-container label {
        margin-left: 0.5rem;
        font-size: 0.9rem;
    }

    .chakra-checkbox {
        margin-right: 0.5rem;
    }

    .chakra-numberinput {
        margin-right: 0.5rem;
    }
}
