.mainSidebar {
    position: absolute;
    z-index: 50;
    width: 100%;
    max-width: 340px;

    .chakra-tabs__tablist {
        display: flex;
        justify-content: space-around;
    }

    .chakra-tabs__tab {
        flex: 1;
        text-align: center;
        border-radius: 0;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 1); /* Color sólido */
        transition: background-color 0.3s;
        color: white;
        transition: none;


    }

    .tab-visor {
        background-color: var(--visor-primary-opacity)
    }

    .tab-accesibilidad {
        background-color: #996699cc;

    }

    .tab-potencial {
        background-color: #cc9933cc;

    }

    .chakra-tabs__tabpanel {
        padding: 1rem;
        height: calc(100% - 3rem); /* ajusta la altura según el tamaño de las pestañas */
        overflow-y: auto;
    }
}

.visor{
    &__icon {
        &--active {
            color:  #6b7f14 !important;
        }
    }
}
