.landing {
    &__header {
        h1 {
            font-size: 100px;
            font-weight: 900;
        }

        background: url("/assets/img/reImaginaBG1.png") no-repeat center center,
            linear-gradient(
                90deg,
                rgba(107, 127, 20, 0.7) 0%,
                rgba(153, 102, 153, 0.7) 50%,
                rgba(204, 153, 51, 0.7) 100%
            ),
            white;
        background-size: cover;
    }

    &__subheader {
        background: url("/assets/img/reImaginaBG2.png") no-repeat center center,
            linear-gradient(
                90deg,
                rgba(107, 127, 20, 0.7) 0%,
                rgba(153, 102, 153, 0.7) 50%,
                rgba(204, 153, 51, 0.7) 100%
            ),
            white;
        background-size: cover;
    }
}
