.toolbar{
    position: absolute;
    top: 0;
    left: 100%;
    border: 1px solid lightgrey;

    &__title {
        display:flex; //new
        flex-direction: column;
        align-items: center;
        justify-content:center;
        background-color:rgba(50, 50, 50, 0.8);
        border:1px solid lightgrey;
        color:white;
        text-align:center;
        flex: 1;
    }

    &__vista {
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        width: 100%;
        //justify-content:center;
        border:1px solid lightgrey;

        img {
            min-width: 50px;
            max-width: 100px;
            border:1px solid lightgrey;
            cursor: pointer;
            
            &:hover{
                background-color: rgba(50, 50, 50, 1);
            }
        }
        &--active{
            background-color: white !important;
            color: black !important;
        }

    }

    &__dim {
        display:flex;
        flex-direction:column;
        width:100%;
        flex:1;
        border:1px solid lightgrey;

        span {
            border:1px solid lightgrey; 
            color:white; 
            flex-grow:1;
            padding:10px;
            cursor: pointer;
            
            &:hover{
                background-color: rgba(50, 50, 50, 1);
            }
        }
    }

    &__zoom {
        display:flex;
        flex-direction:row;
        width:100%;
        flex:1;
        border:1px solid lightgrey;
    }

    &__colzoom{
        display:flex;
        flex-direction:column;
        width:100%;
        flex:1;

        span {
            border:1px solid lightgrey;
            color:white;
            flex-grow:1;
            padding:10px;
            cursor: pointer;
            
            &:hover{
                background-color: rgba(50, 50, 50, 1);
            }
        }
    }

    &__tools {
        display: flex;

        span {
            background-color: rgba(50, 50, 50, 0.8);
            border: 1px solid lightgrey;
            color: white;
            cursor: pointer;
            padding: 0 1rem;

            &:hover{
                background-color: rgba(50, 50, 50, 1);
            }
        }

        &--active{
            background-color: white !important;
            color: black !important;
        }
    }

}