.section-header {
    background-color: #e0e0e0; // Color de fondo un poco más claro
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; // Bordes redondeados para mejorar la apariencia
  }
  
  .section-title {
    font-weight: normal; // No en negritas
    font-size: 1.1rem; // Tamaño de fuente ajustado
    color: #333; // Color de texto
  }
  
  .total-population,
  .car-population,
  .pea-population,
  .puntuaje_hogar_digno,
  .population-per-room,
  .school-degree,
  .health-access {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; // Tamaño de fuente para la población total
    color: #333; // Color de texto
    margin: 10px 0;
  }
  
  .population-number {
    margin-left: 10px;
  }


