.accesibilidad.tab__main{
    border: solid var(--accesibilidad-primary);
    border-width: 0px 2px 2px 2px;
    overflow: hidden;
    padding: 0px;

    .accordion-header{
        background-color: var(--accesibilidad-primary);
    }
}

.accesibilidad__equipment {

    font-size: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .accesibilidad__bar {
        width: 70px;

        &.education > div {
        background-color: #cc9999;
        }

        &.health > div {
        background-color: #7c6eb1;
        }

        &.recreation > div {
        background-color: #eab642;
        }

        &.park > div {
        background-color: #7ea48d;
        }

        &.other > div {
        background-color: gray;
        }
    }
}


.treemapContainer {

    width: 100%;

    .recharts-legend-wrapper {
        position: relative !important;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            width: 100%;
            column-gap: 0.6rem;

            li {
                justify-content: center;
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                text-align: center;

                svg {
                    margin-right: 4px;
                    font-size: 0.9rem;
                }
            }
        }
    }
}
