.accesibilidad.tab__main{
    border: solid var(--accesibilidad-primary-opacity);
    border-width: 0px 2px 2px 2px;
    overflow: hidden;
    padding: 0px;

    .accordion-header{
        background-color: var(--accesibilidad-primary-opacity);
    }
}

.treemapContainer {

    .recharts-legend-wrapper {
        position: relative !important;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;

            li {
                min-width: 50%;
                text-align: center;
            }
        }
    }
}
